#popular_pages li {
	position: relative;
	padding-right: 40px;
}
.popularity {
	background: #000;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0.5em;
	width: 40px;
	text-align: center;
}
li:hover span.popularity { background: #060; }

.modifications { margin-left: 20px; }
.modifications a {
	color: #999;
	font-size: 0.8em;
	padding: 0 3px;
	text-decoration: none;
}
.modifications a.ignore:hover { background: #f93; color: #000; }
.modifications a.delete:hover { background: #900; color: #fff; }