#popular_pages li {
	position: relative;
	padding-right: 40px;
}
#popular_pages li:hover {
	background: #ffc;
}
#popular_pages span.popularity {
	background: #000;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0.5em;
	width: 40px;
	text-align: center;
}
#popular_pages li:hover span.popularity {
	background: #060;
}

#popular_pages li div.modifications {
	margin-left: 20px;
}

#popular_pages li div.modifications a {
	color: #999;
	font-size: 0.8em;
	padding: 0 3px;
	text-decoration: none;
}

#popular_pages li div.modifications a.ignore:hover {
	background: #f93;
	color: #000;
}
#popular_pages li div.modifications a.delete:hover {
	background: #900;
	color: #fff;
}