- @popular_pages = Page.find_popular
- unless @popular_pages.blank?
  #popular_pages.recent_box
    %h2 Popular Pages
    %ul
      - PageRequest.find_popular.each do |req|
        - page = Page.find_by_url(req.url)
        - page_title = page.title || req.url
        %li= "#{link_to page_title, req.url }: popularity #{req.popularity}"