- @popular_pages = Page.find_popular
- unless @popular_pages.blank?
  #popular_pages.recent_box
    %h2 Popular Pages
    %ul
      - Page.find_popular.each do |page|
        %li= "#{link_to page.title, page.url }: popularity #{page.popularity}"